.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  flex: 0 0 40%; // no grow, no shrink, 40% of available width

  display: flex;
  justify-content: center;
  align-items: center;

  @media only screen and (max-width: $bp-smallest) {
    order: 1; // make it the last item, others have order 0
    flex: 0 0 100%;
    background-color: var(--color-grey-light-2);
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    border: none;
    background-color: var(--color-grey-light-2);
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem;

    &:focus {
      width: 100%;
      outline: none;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__input:focus + &__button {
    background-color: var(--color-grey-light-3);
  }


  &__button {
    border: none;
    background-color: var(--color-grey-light-2);

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-grey-dark-3) // for SVG
  }
}

.user-nav {
  display: flex;
  align-items: center;
  align-self: stretch;

  & > * { // select all direct children
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
  }

  & > *:hover {
    background-color: var(--color-grey-light-3);

  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: .8rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--color-primary);
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem;

  @media only screen and (max-width: $bp-medium) {
    display: flex;
    margin: 0;
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: .5rem;
      @media only screen and (max-width: $bp-medium) {
        margin-bottom: 0;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 1;
    }
  }

  &__item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--color-primary);
    transform: scaleY(0);
    transition: transform .2s,                // staged animations
                width ease-in-out .4s
                background-color .1s;
  }

  &__item:hover::before,
  &__item--active::before {
    transform: scaleY(1);
    width: 100%;
  }

  &__item:active::before {
    background-color: var(--color-primary-light);
  }

  &__link:link,
  &__link:visited {
    color: var(--color-grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block; // full width
    padding: 1.5rem 3rem;
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center; // center along the cross Y axis

    @media only screen and (max-width: $bp-medium) {
      justify-content: center;
      padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) { // we want the last one to apply
      flex-direction: column;
      padding: 1.5rem .5rem;;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; // the color or the current or the parent element

    @media only screen and (max-width: $bp-small) { // we want the last one to apply
      margin-right: 0;
      margin-bottom: .7rem;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);

  @media only screen and (max-width: $bp-medium) {
    display: none;
  }
}

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {

  display: flex;
  align-items: center; // align Y axis
  border-bottom: var(--line);

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-small) { // we want the last one to apply
      font-size: 1.5rem;
      padding: 1.25rem 2rem;
    }
  }

  &__stars {
    margin-right: auto;
    display: flex;
  }

  &__icon-star,
  &__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);

  }

  &__icon-location {
    margin-right: .5rem;
  }

  &__location {
    font-size: 1.2rem;
    display: flex;
    vertical-align: center;
  }

  &__rating {
    background-color: var(--color-primary);
    margin-left: 3rem;
    color: #fff;
    align-self: stretch;
    padding: 0 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: $bp-small) { // we want the last one to apply
      font-size: 1.5rem;
      padding: 0 1.5rem;
    }
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;

    @media only screen and (max-width: $bp-small) { // we want the last one to apply
      font-size: 1.8rem;
      padding: 0 1.5rem;
    }
  }

  &__rating-count {
    font-size: .8rem;
    text-transform: uppercase;

    @media only screen and (max-width: $bp-small) { // we want the last one to apply
      font-size: .5rem;
    }
  }
}


.btn-inline {
  border: none;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  background-color: transparent;
  display: inline-block;
  cursor: pointer;
  transition: all .2s;

  & span {
    margin-left: .3rem;
    transition: margin-left .2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    & span {
      margin-left: .8rem;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s  infinite;
  }
}


@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
  }
  100% {
    transform: scale(1);
    box-shadow: none;
  }
}

.paragraph {
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.list {
  list-style: none;
  padding: 3rem;
  margin: 3rem 0;
  border-top: var(--line);
  border-bottom: var(--line);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  &__item::before {
    content: ""; // always
    display: inline-block;
    // Old browsers
    background-image: url(../img/chevron-thin-right.svg);
    background-size: cover;

    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    @supports(-webkit-mask-image: url()) or (mask-image: url()) {
      background-color: var(--color-primary);
      -webkit-mask-image: url(../img/chevron-thin-right.svg);
      -webkit-mask-size: cover;
      mask-image: url(../img/chevron-thin-right.svg);
      mask-size: cover;

      background-image: none; // remove the image set outside the supports
    }

  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;


  &__count {
    margin-right: auto; // create space with flexbox
  }

  &__friends {
    display: flex;
  }

  &__photo {
    box-sizing: content-box; //add border on top of the width of the content
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
    &:not(:last-child) {
      margin-right: -2rem;
    }
  }
}

.review {

  background-color: #fff;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    padding: 2rem;
    margin-bottom: 3rem;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -3.5rem;
    left: -1rem;
    font-size: 20rem;
    color: var(--color-grey-light-3);
    font-family: sans-serif;
    line-height: 1;
    z-index: 10;
    overflow: hidden;
  }

  &__text {
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    widows: 4.5em;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;
  }

  &__user-date {
    font-size: 1rem;
    color: var(--color-grey-dark-3);
  }

  &__rating {
    color: var(--color-primary);
    font-size: 2.2rem;
    font-weight: 300;
  }
}

.cta {
  padding: 3.5rem 0;
  text-align: center;

  @media only screen and (max-width) {
    padding: 2.5rem 0;
  }


  &__book-now {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  border: none;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 300;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: #fff;
  position: relative;
  overflow: hidden;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s;
  }

  &:hover {
    background-image: linear-gradient(to right, var(--color-primary-dark), var(--color-primary-light));
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    left: 0;
    top: -100%;
    padding: 2rem 0;
  }

}

